@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;
@use "../../../../styles/media" as *;

.want-to-teach-form-container {
    max-width: 660px;
    margin: 60px auto;
    padding-inline: 30px;

    .want-to-teach {
        .submit-btn {
            margin-top: 10px;
        }
    }
}
