@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/media" as *;

.header {
    height: 70px;
    width: 100%;
    z-index: 3000;
    background-color: var(--white);
    padding: 10px 24px;
    // box-shadow: 0 0.2px 0 var(--light-black);
    border: var(--border-black);

    @include tablet {
        padding: 10px 0px;
    }

    @include mobile {
        padding-inline: 10px;
        height: 48px;
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .nav-mobile-part {
            position: relative;
            display: flex;

            &__button {
                @include reset-button;
                padding-inline: 7px;
                cursor: pointer;
            }

            &__logo {
                font-family: "Michroma";
                font-size: 16px;
            }

            &__search {
                position: absolute;
                top: 42px;
                left: 45px;
                width: clamp(300px, 25vw, 400px);
                border-radius: var(--border-radius-large);
                border: var(--border-black);
                height: 46px;
                padding-left: 22px;
                padding-bottom: 3px;
                background-color: var(--light-grey);
                animation: appear ease-in-out 0.25s;

                @keyframes appear {
                    0% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 1;
                    }
                }

                &:focus {
                    outline: none;
                    border: var(--border-purple);
                }

                &::placeholder {
                    font-size: 16px;
                    color: var(--light-black);
                }

                &.not-active {
                    display: none;
                }
            }
        }

        &-left {
            display: flex;
            align-items: center;

            .header-logo {
                font-family: "Michroma";
                font-size: 32px;
                margin-right: clamp(50px, 5.5vw, 100px);

                @include hover {
                    color: var(--dark-purple);
                }

                @include tablet {
                    font-size: 26px;
                    margin-right: clamp(30px, 4vw, 80px);
                }
            }

            .header-nav {
                // display: flex;
                // align-items: end;

                &__item {
                    font-size: 19px;
                    font-weight: 500;
                    padding-block: 5px;
                    padding-inline: 12px;

                    @include hover {
                        color: var(--dark-purple);
                    }

                    @include tablet {
                        font-size: 17px;
                    }
                }
            }
        }

        &-right {
            display: flex;
            align-items: center;
            gap: 30px;

            .header-search {
                position: relative;

                &__input {
                    width: clamp(300px, 25vw, 400px);
                    border-radius: var(--border-radius-large);
                    border: var(--border-black);
                    height: 46px;
                    padding-left: 50px;
                    padding-bottom: 3px;
                    background-color: var(--light-grey);

                    &:focus {
                        outline: none;
                        border: var(--border-purple);
                    }

                    &::placeholder {
                        font-size: 16px;
                        color: var(--light-black);
                    }

                    @include tablet {
                        width: clamp(160px, 21vw, 300px);
                    }
                }

                &__img {
                    position: absolute;
                    top: 13px;
                    left: 17px;
                }
            }

            .header-icons {
                display: flex;
                gap: 25px;
                &__button {
                    @include reset-button;
                    cursor: pointer;

                    @include hover {
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 7000;

    &.not-active {
        display: none;
    }
}

.sidebar-container {
    position: fixed;
    left: -250px; /* Скрыто за пределами экрана */
    top: 0;
    height: 100%;
    width: 250px;
    background-color: var(--white);
    transition: left 0.3s ease; /* Анимация выдвижения */
    z-index: 8000; /* Чтобы меню было поверх других элементов */

    &.active {
        left: 0; /* Показываем меню */
    }

    &__close-btn {
        @include reset-button;
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--white);
        top: 10px;
        left: 260px;
        display: grid;
        place-items: center;
        cursor: pointer;

        &.not-active {
            display: none;
        }

        @include hover {
            background-color: var(--grey);
        }

        &-img {
        }
    }

    .menu {
        &__greetings {
            padding: 16px;
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 10px;
            border-bottom: var(--border-grey);
            background-color: var(--light-grey);

            &-img {
            }

            &-text {
                display: flex;
                flex-direction: column;
                gap: 4px;

                &-big {
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 1.3;
                }

                &-small {
                    font-size: 10px;
                    font-weight: 300;
                }
            }
        }

        &__list {
            &-item {
                font-size: 15px;
                font-weight: 500;
                padding: 10px 16px;
                border-bottom: var(--border-grey);
                transition-duration: var(--transition-duration);

                @include hover {
                    color: var(--dark-purple);
                }
            }
        }
    }
}
