@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;
@use "../../../../styles/media" as *;

.profile-photo-form {
    .profile-photo {
        display: grid;
        grid-template-rows: auto 200px auto;

        &__label {
            font-size: 16px;
            font-weight: 700;
            padding-bottom: 5px;
        }
    }

    &__submit-btn {
        margin-top: 12px;
    }
}
