@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/media" as *;

.create-course-form-wrapper {
    max-width: 660px;
    margin: 60px auto;
    padding-inline: 30px;

    .form-title {
        font-size: 40px;
        font-weight: 700;
        padding-bottom: 40px;
    }

    @include mobile {
        margin: 20px auto;
        padding-inline: 25px;
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .img-container {
            &__label {
                font-size: 16px;
                font-weight: 700;
                padding-bottom: 5px;
            }
        }

        .dashboard-form {
            display: flex;
            gap: 15px;
            align-items: center;

            .submit-btn {
                max-width: 145px;
            }
        }
    }
}

.modal-footer {
    display: flex;
    gap: 10px;
}

.modal-title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}

.modal-description {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}
