@use "../../../../styles/media" as *;
@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;

.course-progress-container {
    justify-self: end;
    display: grid;
    place-items: center;
    .course-progress {
        position: relative;

        .progress-modal {
            min-width: 300px;
            padding: 16px;
            font-weight: 700;
        }
    }

    .download-certificate {
        margin-top: 10px;
    }
}
