@use "mixins" as *;
@use "variables" as *;
@use "media" as *;

:root {
    --text-main-color: var(--light-black);
    --background-main-color: var(--white);

    scrollbar-color: var(--dark-purple) transparent;
}

::selection {
    background-color: var(--dark-purple); /* Цвет фона выделения */
    color: var(--white); /* Цвет текста выделения */
}

body {
    @include fluid-text(18, 16);

    font-family: var(--font-family-base);
    font-weight: 400;
    line-height: 1.28;
    color: var(--text-main-color);
    background-color: var(--background-main-color);

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4 {
    font-weight: 500;
}

h1 {
    @include fluid-text(60, 43);
}

h2 {
    @include fluid-text(50, 36);
}

h3,
.h3 {
    @include fluid-text(30, 26);
}

h4 {
    @include fluid-text(20, 18);
}

hr {
    border: 0 !important;
    border-top: var(--border-black) !important;
}

.display-none {
    display: none !important;
}

.purple-hover {
    transition: color var(--transition-duration);
    @include hover {
        color: var(--dark-purple);
    }
}

.purple-button {
    @include reset-button;
    color: var(--white);
    background-color: var(--dark-purple);
    border: none;
    font-size: 16px;
    font-weight: 700;
    padding: 12px 25px;
    cursor: pointer;

    @include hover {
        background-color: var(--dark-purple-accent);
    }
}

.transparent-white-button {
    @include reset-button;
    color: var(--white);
    background-color: transparent;
    border: var(--border-white);
    font-size: 16px;
    font-weight: 700;
    padding: 12px 15px;
    cursor: pointer;

    @include hover {
        color: var(--light-black);
        background-color: var(--light-grey);
    }
}

.title {
    font-size: 32px;
    line-height: 1;
    font-weight: 700;

    @include tablet {
        font-size: 24px;
    }

    @include mobile {
        font-size: 32px;
    }
}

.title-description {
    font-size: 16px;
    font-weight: 400;
}

.black-submit-button {
    @include reset-button;
    background-color: var(--light-black);
    color: var(--white);
    height: 48px;
    font-size: 16px;
    font-weight: 700;
    padding: 11px 14px 12px;
    cursor: pointer;

    @include hover {
        background-color: var(--dark-purple);
    }

    &[disabled] {
        opacity: 0.6;
        pointer-events: none;
    }
}

.profile-img {
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.html-block {
    code {
        background-color: var(--light-grey);
        border: var(--border-grey);
        color: var(--dark-purple);
        border-radius: 3px;
        padding: 2px 4px;
        margin: 0 3px;
        font-family: monospace;
        font-weight: 500;
    }
    p {
        margin-bottom: 12px;
    }

    ul,
    ol {
        margin-block: 12px;
    }

    h2,
    h3 {
        font-weight: bold;
        margin-bottom: 0.35em;
    }

    p + h2,
    p + h3,
    code + h2,
    code + h3,
    ul + h2,
    ul + h3,
    ol + h2,
    ol + h3 {
        font-weight: bold;
        margin-top: 0.35em;
    }
}

.error-message {
    padding-block: 3px;
    font-size: 14px;
    color: var(--red);
    font-weight: 500;
}

.centered-div {
    width: 100%;
    height: 65vh;
    display: grid;
    place-items: center;
    overflow: -moz-hidden-unscrollable;
}
