@use "variables" as *;
@use "media" as *;

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.container-reduced-medium {
    max-width: calc(var(--container-width-medium) + var(--container-padding-x-small) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x-small);
}

.container-reduced-small {
    max-width: calc(var(--container-width-small) + var(--container-padding-x-small) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x-small);
}

.container-fluid {
    max-width: 100%;
}

.section-medium {
    padding-top: var(--section-padding-y-medium);
    padding-inline: var(--container-padding-x);

    &:last-child {
        padding-bottom: var(--section-padding-y-medium);
    }
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

.hidden-mobile {
    @include mobile {
        display: none !important;
    }
}
.hidden-tablet {
    @include tablet {
        display: none !important;
    }
}

.visible-mobile {
    @include mobile-above {
        display: none !important;
    }
}
.visible-tablet {
    @include tablet-above {
        display: none !important;
    }
}

.uppercase-text {
    text-transform: uppercase !important;
}
