@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/media" as *;

.messages-modal {
    width: 360px;

    &__title {
        text-align: start;
        padding: 16px;
        padding-bottom: 0;
        font-size: 19px;
        font-weight: 700;
    }

    &__content {
        &.empty {
            padding: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            font-size: 16px;
            font-weight: 400;
            color: var(--dark-grey);
        }
    }
}
