@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;
@use "../../../../styles/media" as *;

.profile-form-container {
    max-width: 600px;
    margin: 60px auto;

    .profile-form {
        .submit-btn {
            margin-top: 10px;
        }
    }
}
